@use 'backend' as *;

// desktop refresh fast follows
// treatment 2 - darker guild list background
#{c(experiments fastFollowsRefresh refreshGuildBg)} {
  &#{c(main visualRefresh)} {
    // background
    #{c(main bg)} {
      background: cv('bg.app.img') cv('bg.app.pos')/cv('bg.app.size') no-repeat;
      background-attachment: cv('bg.app.attach');
      filter: cv('bg.app.filter');
      z-index: -1;
    }
    // guild list
    #{c(guildList guilds)} {
      background: transparent;
    }
  }
}

// bottom aligned chat input
#{c(experiments bottomAlignedChatInput chatGradientBase)} {
  background: none;
}
#{c(experiments bottomAlignedChatInput alignChatInput)} {
  #{c(experiments bottomAlignedChatInput scrollerSpacer)} {
    height: 16px;
  }
  #{c(chat chatScroller)}::-webkit-scrollbar-track {
    margin-bottom: 16px;
  }
  #{c(chatForm form)} {
    margin-top: 4px;
  }
}